/** Color Scheme **/
.black-text{ color:black; }
.white-text{ color:white; }
.blue-back{ background-color: #174351; }
.white-back{ background-color: white; }
.blue-text{ color:blue; }

/** Set some Defaults **/
body{
 margin: 0 0;
}
.heading-font, h1, h2, h3, h4, h5, h6, p, a{
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    padding-bottom: 10px;
    padding-top: 15px;
}
p {
    line-height: 1.5;
}
/** Header Components **/

header {
    width: 100%;
    position: fixed;
    z-index: 10;
    min-width: 1200px;
    height: 50px;
}
.name-logo {
    display: inline-block;
    padding: 20px;
    margin-left: 90px;
    font-size: 20px;
    width: 150px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 4px 2px black;
}
.box-image img {
    height: 200px;
}

/** Navagation / Menus **/

nav{
    margin-right: 190px;
    margin-top: 20px;
}

.menu-item{
    display: inline;
    padding-left: 25px;
    font-size: x-large;
}
.menu-item:focus {
    color: darkred;
    border: dashed 1px black;
    padding: 4px;
  }
nav a {
    text-decoration: none;
}
nav.active a {
    color:red;
}
nav a:hover{ color:green !important; }

/** Content Area **/

.background { 
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
main{
    margin: 0 auto;
    padding: 15px 12px;
    width:100%;
    padding-top: 25px;
    padding-bottom: 25px;
}
.container-center{ 
    width: 960px;
    margin: 60px auto 4px auto;
    box-shadow: 2px 2px 8px 0px black;
    border-radius: 10px;
}

article{ display: inline-block; }
footer span.copy{ display: block; text-align: center; }
.box { padding:25px; }
.relative{ position: relative; }
.box-image{ padding: 10px; }
.box-title{
    font-size: xx-large;
    padding: 10px;
    border-bottom: 2px solid teal;
    margin-bottom: 20px;
}
.content-wrapper{
    padding-left:10px;
    padding-right:10px;
    line-height: 2.3;
}
footer{
    width: 100%;
    height:50px;
    clear: both;
}
.border-top{ border-top:3px solid; }
.border-top{ border-bottom:3px solid; }

/** Positioning **/

.float-left{ float: left; }
.float-right{ float: right; }
.center{ text-align: center; }
.left{ text-align: left; }
.right{ text-align: right; }

/** Text Styling **/

.bold{ font-weight: bold; }
p{ line-height: 1.2; }

/** Form Styles **/

input, textarea{     
    width: 100%;
    border-radius: 5px;
    padding: 8px;
    font-size: 20px;
    font-family: sans-serif; 
}

button {
        min-width: 80px;
        border-radius: 6px;
        text-align: center;
        cursor: pointer;
        color: #00446D;
        background-color: lightgrey;
        padding: 7px 13px 7px;
        border-width: 2px;
        border-color: black;
}

label {
    font-family: sans-serif;
    font-size: x-large;
}

/** Icon styles **/

.icons{ 
    display: inline-block;
    width: 100%; 
}
.icons ul {
    float: right;
    padding-top: 5px;
}
.icons li{ display: inline-block; }
.icon{ padding: 5px;}
.icons svg:hover { box-shadow: 1px 1px 1px 1px black; }


